body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 th{
    padding: 8px;
    color: white;
    background-color: brown;
    border-radius: 5px;
     border: 1px solid brown;
    }
   

tr{
    background-color: rgb(173, 251, 249);
}
td{
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 2px 1px rgb(235, 235, 235);
    padding: 12px;
    /* border: 1px solid rgb(255, 251, 9); */
}
table{
    width: 100%;
}
.edit-button{
    padding: 8px 30px;
    
    border: 1px solid rgb(0, 208, 232);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px  rgb(206, 206, 206);
   background-color: rgb(249, 237, 7); 
}
.delet-button{
    padding: 8px 30px;
    
    border: 1px solid rgb(0, 208, 232);
    border-radius: 8px;
    box-shadow: 0px 0px 5px 1px  rgb(206, 206, 206);
   background-color: rgb(249, 92, 7); 
}
.edit-button:hover{
    color: white;
    background-color: rgb(241, 153, 0);
}
.delet-button:hover{
    color: white;
    background-color: rgb(236, 0, 0);
}
.form{
    margin-left: 400px;
    padding: 15px;
    border-radius: 10px;
    width: 400px;
    height: auto;
    top: 300px;
    color: rgb(135, 0, 0);
    position: absolute;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: rgb(242, 0, 255);
}
.form .input-cell{
    border: none;
    border-radius: 5px;
    outline: none;
    height: 25px;
}
.form button{
    align-self: center;
    width: 100px;
    background-color: rgb(154, 250, 244);
    border: none;
    border-radius: 5px;
   
    height: 25px;
}
.button-E:hover{
    
    box-shadow: 0px 0px 5px 1px rgb(255, 254, 254);
    background-color: rgb(209, 209, 43);
}
.button-C:hover{
    box-shadow: 0px 0px 5px 1px rgb(250, 250, 250);
    background-color: rgb(230, 73, 21);
}
.hidden{
    display: none;
}